#### Exercise 1: Given two lists, L1 and L2, write a program to create a third list L3 by picking an odd-index element from the list L1 and even index elements from the list L2.
Given: 
L1 = [3, 6, 9, 12, 15, 18, 21]
L2 = [4, 8, 12, 16, 20, 24, 28]
Expected Output:
Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]
Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

In [1]:
L1 = [3, 6, 9, 12, 15, 18, 21]
L2 = [4, 8, 12, 16, 20, 24, 28]
El1 = L1[1::2]
print('Element at odd-index positions from list one', El1)
El2 = L2[0::2]
print('Element at even-index positions from list two', El2)
print('Printing Final third list', El1 + El2)

Element at odd-index positions from list one [6, 12, 18]
Element at even-index positions from list two [4, 12, 20, 28]
Printing Final third list [6, 12, 18, 4, 12, 20, 28]

#### Exercise 2: Slice a list into 3 equal chunks and reverse each chunk
Given:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
Expected Outcome:
Chunk 1 [11, 45, 8]
After reversing it [8, 45, 11]
Chunk 2 [23, 14, 12]
After reversing it [12, 14, 23]
Chunk 3 [78, 45, 89]
After reversing it [89, 45, 78]

In [2]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89] 
chunk1 = sample_list[0:3]
print('Chunk 1', chunk1)
print('After reversing it', chunk1[::-1])
chunk2 = sample_list[3:6]
print('Chunk 2', chunk2)
print('After reversing it', chunk2[::-1])
chunk3 = sample_list[6:9]
print('Chunk 3', chunk3)
print('After reversing it', chunk3[::-1])

Chunk 1 [11, 45, 8]
After reversing it [8, 45, 11]
Chunk 2 [23, 14, 12]
After reversing it [12, 14, 23]
Chunk 3 [78, 45, 89]
After reversing it [89, 45, 78]

#### Exercise 3: Count the occurrence of each element in a list.Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.
Given:
Sample-list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
Expected Output:
Printing count of each item {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [3]:
Sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89] 
dict = {}
for a in sample_list:
    count = sample_list.count(a)
    dict.setdefault(a, count)
print('Printing count of each item', dict)

Printing count of each item {11: 1, 45: 2, 8: 1, 23: 1, 14: 1, 12: 1, 78: 1, 89: 1}

#### Exercise 4: Create a Python set such that it shows the element from both lists in a pair
Given:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
Expected Output:
Result is {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [4]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
third_list = set(zip(first_list, second_list))
print('Result is', third_list)

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

#### Exercise 5: Find the intersection (common) of two sets and remove those elements from the first set
Given:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
Expected Output:
Intersection is {57, 83, 29}
First Set after removing common element {65, 42, 78, 23}

In [5]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
third_set = first_set.intersection(second_set)
print('Intersection is', third_set)
print('First Set after removing common element', first_set - third_set)

Intersection is {57, 83, 29}
First Set after removing common element {65, 42, 78, 23}

#### Exercise 6: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list
Given:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'John':47, 'Emma':69, 'Kelly':76, 'Jason':97}
Expected Outcome:
After removing unwanted elements from list [47, 69, 76, 97]

In [6]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'John':47, 'Emma':69, 'Kelly':76, 'Jason':97} 
lst = []
for a in roll_number:
    if a in sample_dict.values():
       lst.append(a)
print('After removing unwanted elements from list', lst)

After removing unwanted elements from list [47, 69, 76, 97]

#### Exercise 7: Get all values from the dictionary and add them to a list but don’t add duplicates
Given:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44,
'Sept': 54}
Expected Outcome:
[47, 52, 44, 53, 54]

In [7]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}
lst = []
for a in speed.values():
    if a not in lst:
     lst.append(a)
print(lst)

[47, 52, 44, 53, 54]

#### Exercise 8: Remove duplicates from a list and create a tuple and find the minimum and maximum number
Given:
Sample-list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
Unique items [87, 45, 41, 65, 99]
Tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [8]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
lst = []
for a in sample_list:
    if a not in lst:
        lst.append(a)
print('Unique items', tuple(lst))
print('min:', min(tuple(lst)))
print('max:', max(tuple(lst)))

Unique items (87, 45, 41, 65, 94, 99)
min: 41
max: 99

#### Exercise 9: Create a recursive function. Write a program to create a recursive function to calculate the sum of numbers from 0 to 10. A recursive function is a function that calls itself again and again.
Expected Output:
55

In [9]:
def recursive(a,b):
    total = 0
    for a in range(a,b):
        total +=a
    print(total)
recursive(0,21)

210